<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>服务器监控数据</title>
</head>
<body>
<div id="host_info">
    <span>服务器基本信息：</span>
    <ul>
        <li>IP: {{ host_info.host_ip }}</li>
        <li>开机时间：{{ host_info.up_time }}</li>
        <li>CPU核数：{{ host_info.cpu_cores }}</li>
        <li>内存大小：{{ host_info.mem_total }}</li>
    </ul>
</div>
{% if email_type == 'advanced' %}
<div class="cpu_stat">
    <span>CPU使用率统计图：</span>
    <img src="cid:cpu_stat" />
</div>
<div class="mem_stat">
    <span>内存使用率统计图：</span>
    <img src="cid:mem_stat" />
</div>
{% else %}
<div class="cpu_stat">
    <span>CPU使用率最高的 {{max_n}} 项：</span>
    <ul>
        {% for created_at, used_percent in cpu_stat.max_n_data %}
            <li>{{ created_at }}：{{ used_percent }}%</li>
        {% endfor %}
    </ul>
</div>
<div class="mem_stat">
    <span>内存使用率最高的 {{max_n}} 项：</span>
    <ul>
        {% for created_at, used_percent in mem_stat.max_n_data %}
            <li>{{ created_at }}：{{ used_percent }}%</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div id="disk_usage">
    <span>磁盘使用情况：</span>
    <ul>
        {% for mount_point, usage in disk_info.iteritems() %}
            <li>{{ mount_point }}: {{ usage }}%</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>